<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=0.5">
    <title>  
      {% block title %}{% endblock %} Sentiment Analysis 
    </title>
    <!-- <div class = "bg-image",style="background-image: url('/static/images/bg.jpg'); height:100vh"></div> -->
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    
</div>
</head>

<body>
  <!-- <div class="bg-image"
      style="background-image: url('https://img.freepik.com/free-photo/social-media-background-twitte_135149-69.jpg');
      display: absbottom;
      height: 100vh;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      "> -->
  <nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="container-fluid">

      <a class="navbar-brand" href="{{ url_for('home')}}"><img src="static/images/logo.png" alt="Tweets Analysis" height="30" width="40"></a>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Welcome</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link {{'active' if active_page == 'home' else ''}}" aria-current="page" href="{{url_for('home')}}"><h3>Home</h3></a>                  
            </li>
            <li class="nav-item">
              <a class="nav-link {{'active' if active_page == 'show_data' else ''}}" aria-current="page" href="{{url_for('show_data')}}"><h3>Show Data</h3></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <h4>Plots </h4>
              </a>
              <ul class="dropdown-menu dropdown-menu-dark">
                <a class="nav-link {{'active' if active_page == 'wordcloud' else ''}}" aria-current="page" href="{{url_for('wordcloud')}}">Wordcloud</a>
                <li>
                  <a class="nav-link {{'active' if active_page == 'piechart' else ''}}" aria-current="page" href="{{url_for('piechart')}}">Pie Chart</a>
                </li>
              </ul>
              <li class="nav-item">
                <a class="nav-link {{'active' if active_page == 'download' else ''}}" aria-current="page" href="{{url_for('download')}}"><h3>Download</h3></a>
              </li>
                
        </div>
      </div>
    </div>
   
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {% block content %}  
        {% endblock %}
      </div>
    </div>

      
      <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

</body>
</html>